.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

.profile-container > h2 {
  font-size: 35px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-field {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.change-password {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.profile-field > input:focus {
  outline: none;
}

.profile-field > input {
  background-color: white;
  color: black;
  transition: box-shadow 0.3s;
  border: 1px solid #CCCC;
  height: 25px;
}

.profile-field > input:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.change-password > button {
  width: 180px;
  height: 35px;
  border: none;
}

.change-password > button:hover {
  cursor: pointer;
  background-color: #CCCC;
}