.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

.profile-container > h2 {
  font-size: 35px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 30vw;
  height: 60vh;
}

.profile-field {
  display: flex;
  flex-direction: row;
  gap: 7px;
  width: 100%;
  height: 50px;
  text-align: center;
}

.profile-field label{
  width: 100%;
  display:flex;
  flex-direction: column;
}
.change-password {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.profile-field label input:focus {
  outline: none;
}

.profile-field label input {
  background-color: white;
  color: black;
  transition: box-shadow 0.3s;
  border: 1px solid #CCCC;
  height: 25px;
}

.profile-field label input:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-details  button {
  width: 180px;
  height: 35px;
  border: none;
}

.change-password  button {
  width: 180px;
  height: 35px;
  border: none;
}

.change-password  button:hover {
  cursor: pointer;
  background-color: #CCCC;
}