
.divFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .divFormulario h1 {
    margin-bottom: 20px;
  }
  
  .form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputContainer {
    margin-bottom: 10px;
  }
  
  .inputUser {
    width: 100%;
  }
  
  .btn_container {
    margin-top: -10%;
    display: flex;
    justify-content: center;
  }
  
  .button {
    width: 200px;
  }
  
  .bottom-text {
    margin-top: 20px;
    font-size: 25px;
  }
  