
.footer {
  background-color: #063954;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer {
    position: static;
  }
}
