.events-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleEvent {
  font-size: 40px;
}

.events-support {
  width: 700px;
  border: 1px solid black;
  margin-top: 30px;
}