header {
  height: 16vh;
  width: 100vw;
  background-color:#063954;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.NavIcons {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.nav-img{
  width: 100px;
  background-color: transparent;
}





