header {
    height: 20vh;
    width: 100vw;
    background-color:#063954;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .NavIcons {
    display:flex;
    justify-content: space-between;

  
  }

  img{
width: 100px;
background-color: #063954;
  }



  @media (max-width: 550px) {
    header {
      flex-direction: column;
    }

}


