.dashboard-page {
  display: flex;
  font-size: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.div-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5vw; 
  flex-wrap: wrap;
}

.divDash {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vw; 
}

.divDash img {
  width: 300px; 
  height: 300px; 
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2vw; 
}

.divDash p {
  margin: 0;
  font-size: 20px;
  
}



@media (max-width: 768px) {
  .dashboard-page {
    font-size: 6vw;
  }

  .div-container {
    flex-wrap: wrap; 
    margin-top: 10vw;
  }

  .divDash {
    margin: 10vw;
  }

  .divDash img {
    width: 50vw;
    height: 50vw;
    margin-bottom: 5vw;
    
  }
}


