.dashboard-page {
  display: flex;
  font-size: 2vw; /* Utilizamos una unidad de medida relativa para adaptar el tamaño del texto */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5vw; /* Utilizamos una unidad de medida relativa para adaptar el margen superior */
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vw; /* Utilizamos una unidad de medida relativa para adaptar los márgenes */
}

.button img {
  width: 10vw; /* Utilizamos una unidad de medida relativa para adaptar el ancho de la imagen */
  height: 10vw; /* Utilizamos una unidad de medida relativa para adaptar la altura de la imagen */
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2vw; /* Utilizamos una unidad de medida relativa para adaptar el margen inferior */
}

.button p {
  margin: 0;
}

/* Media queries para tamaños de pantalla específicos */

@media (max-width: 768px) {
  .dashboard-page {
    font-size: 6vw;
  }

  .button-container {
    flex-wrap: wrap; /* Permitimos que los botones se envuelvan en múltiples líneas */
    margin-top: 10vw;
  }

  .button {
    margin: 10vw;
  }

  .button img {
    width: 50vw;
    height: 50vw;
    margin-bottom: 5vw;
  }
}
